/* sm */
@media screen and (min-width: 639px) {
}

/* md */
@media screen and (min-width: 767px) {
}
/* lg */
@media screen and (min-width: 1023px) {
    .navbar .container {
        flex-direction: row;
      }
      .navbar .container ul {
        flex-basis: auto;
        flex-direction: row;
      }
      .navbar .brand {
        width: auto;
      }
      .navbar .container .nav_button {
        margin-top: 0px;
      }
}
/* xl */

@media screen and (min-width: 1279px) {
}
/* 2xl */

@media screen and (min-width: 1536px) {
}
