/* set  font */
@font-face {
  font-family: "Jakarta-Font";
  src: url("../assets/fonts/PlusJakartaSans-Light.ttf") format("truetype"),
  url("../assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype"),
  url("../assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype"),
  url("../assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype"),
  url("../assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype"),
  url("../assets/fonts/PlusJakartaSans-ExtraBold.ttf") format("truetype");
}
/* reset code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* global styles */
:root {
  --font-family: "Jakarta-Font";
}

/* container */
.container {
  max-width: 1200px;
  padding: 0px 8px;
  margin-left: auto;
  margin-right: auto;
}

/* navbar  */
.navbar {
  padding: 16px 0px;
}
.navbar .logo {
  padding: 5px 0px;
}
.navbar .container .menu li a {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.01em;
  color: #475569;
  padding: 0px 32px;
}
.navbar .container .nav_button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.01em;
  color: #475569;
  gap: 8px;
}
.container .nav_button a {
  padding: 13px 20px;
  border-radius: 1234px;
}
.container .nav_button .signup {
  border: 1px solid #cbd5e1;
}
.container .nav_button .login {
  border-radius: 1234px;
  padding: 12px 20px;
  background: #4f46e5;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.01em;
  color: #fff;
}
/* 
.navbar .container {
  position: relative;
}
.navbar .container ul{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 16px;
  top: 100%;  
}
.navbar .container .nav_button{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
} */
